apiVersion: v1
kind: Service
metadata:
  name: search-service
spec:
  selector:
    app: search
  ports:
    - port: 8002
      targetPort: 8002
      protocol: TCP
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-deployment
spec:
  selector:
    matchLabels:
      app: search
  replicas: 1
  template:
    metadata:
      labels:
        app: search
    spec:
      containers:
        - name: search
          image: rahulkrish28/search-service:latest
          ports:
            - containerPort: 8002
          env:
            - name: SUPABASE_URL
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: SUPABASE_URL
            - name: SUPABASE_KEY
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: SUPABASE_KEY
            - name: PINECONE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: PINECONE_API_KEY
            - name: BOOK_INDEX_NAME
              value: "book-metadata-index"
